.bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black !important;
}

.back-btn{
  color: white !important;
  z-index: 10;
  position: absolute;
  margin: 20px;
  font-size: 3rem;
}

.video-container {
  padding: 1px;
  width: 100vw; 
  height: 56vw; /* height:width ratio = 9/16 = .5625  */
  max-height: 90vh;
  max-width: 177.78vh; /* 16/9 = 1.778 */
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0;
}


iframe {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(20, 20, 20);
}
@media only screen and (max-width: 1200px) {
  .back-btn{
    margin: 10px;
    font-size: 2rem;
  }
}