<div class="mainContainer">
  <h5>Search results</h5>
  <br>
  <div class="contentContainer" [ngSwitch]="currentState">
    <div class="loading" *ngSwitchCase="states.loading">
      <preloader></preloader>
    </div>
    <div class="content" *ngSwitchCase="states.loaded" #searchCont (wheel)="scroll(searchCont,$event)">
      <div class="imgContainer" *ngFor="let result of searchResults" >
        <a (click)="changeAnimePage(result)">
          <img class="z-depth-2" crossorigin="anonymous" src="data:image/png;base64,{{result.poster}}">
          <p>{{result.title}}</p>
        </a>
      </div>
    </div>
    <div *ngSwitchCase="states.empty">
      <div class="errorMessage">

        <i class="material-icons large">help</i>
        <span class="grey-text">No results for your search</span>
      </div>
    </div>
    <div *ngSwitchCase="states.error">
      <div class="errorMessage">

        <i class="material-icons large">priority_high</i>
        <a class="btn  pink lighten-3" (click)="searchAnime()">Retry</a>
      </div>
    </div>
  </div>
</div>
