<div class="container">
    <br>
  <div class="row ">
    <div class="col s12 l8 offset-l2">

      <h5>About</h5>
    </div>

  </div>
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <p class="flow-text">Miyazono was developed with the objective of learning and improving my coding skills, that is
        why
        I am not receiving any kind of income for this application.
      </p>
      <p class="flow-text">All the content that can be found in this application is hosted in third party servers
        such as Mega, YourUpload, FEMBED, etc. All this services are available for free online. For any legal trouble,
        related to the content shown in this website, must be addressed with the owners of the servers that are storing
        this content, as we are not affilliated nor colaborating with them.
      </p>
      <p class="flow-text">
        Miyazono was developed by <a class="pink-text text-lighten-2" href="https://fmaldonado6.github.io">Fernando
          Maldonado</a>.
      </p>


    </div>
  </div>
</div>
